body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f2f5;
}

.App {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.hd1 {
  font-size: 20px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 6px solid #f1c40f;
}

.hd1_c1 {
  display: flex;
  flex-direction: column;
}
.hd1_c1 .Name {
  font-size: 30px;
  font-weight: bold;
}


.hd1_c2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
}

.hd1_c2 p {
  margin: 5px 0;
}

.hd1_c2 a {
  color: rgb(48, 48, 168);
}

.profile {
  display: flex;
  margin-top: 20px;
  border-bottom: 2px solid #000000;
  padding-bottom: 20px;
}

.profile h2 {
  font-size: 22px;
}

.profile p {
  padding-left: 50px;
}


.work {
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000;
  

}

.work h2 {
  font-size: 22px;
}

.work .work_cl{
  flex-direction: column;
  padding-left: 30px;

}

.work .title_bold{
  font-size: 17px;
  font-weight: bold;
}
.work .work_1{
  padding-bottom: 20px;
}



.skills {
  padding-top: 20px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000;
}

.skills h2 {
  font-size: 22px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  padding-left: 40px;
  align-content: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  width: 30%;
  background-color: #e6e6e6;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}

.education {
  padding-top: 20px;
  display: flex;
}

.education h2 {
  font-size: 22px;
}
.education .degree_1{
  padding-bottom: 20px;
}
.education .degree_cl{
  flex-direction: column;
  padding-left: 30px;
}
.education .title_bold{
  font-size: 17px;
  font-weight: bold;
}

  